# This is a basic workflow to help you get started with Actions.
#
# For more information about Actions, see:
# https://docs.github.com/en/actions
#
# To use this workflow, you will need to:
# 1. Create a Firebase project and add a web app to it.
# 2. Generate a service account key for your Firebase project and add it as a secret to your GitHub repository.
#    The secret should be named `FIREBASE_SERVICE_ACCOUNT`.
# 3. Replace `your-project-id` with your Firebase project ID.

name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build WasmJS app
        run: ./gradlew :composeApp:wasmJsBrowserDistribution

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: your-project-id # TODO: Replace with your Firebase project ID
          entryPoint: "./composeApp/build/dist/wasmJs/productionExecutable"
